*{
    box-sizing: border-box;
    --agape-light-bg: #B3B08A;
    --agape-green-bg: #4B5320;
    --agape-light: #F9F8E4;
    --agape-dark: #2B2B2B;
}

.footer{
    display: flex;
    justify-content: center;
    background-color: var(--agape-green-bg);
    position: fixed;
    bottom: 0;
    min-width: 100vw;
    padding: 20px 0px 10px;
}
.icon {
    max-height: 40px;
    max-width: 40px;
    margin: 0px 20px;
    fill: var(--agape-light);

    
}