*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --agape-light-bg: #B3B08A;
    --agape-green-bg: #4B5320;
    --agape-light: #F9F8E4;
    --agape-dark: #2B2B2B;
} 

.header,.burger-menu{
    display: flex;
}

.header {
    background-color: var(--agape-green-bg);
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100vw;
    padding: 65px 10px 20px;

}

.logo, .burger-menu {
    max-height: 50px;
}

.burger-menu{
    font-size: 3.5rem;
    align-items: center;
    color: var(--agape-light);
}